@model SamsBookReviewLibary.Models.BookTitle

@{
    ViewData["Title"] = "BookDetails";
}

<h2>Book Details</h2>

<div>
    <p>
        <img src="@Model.ImgThumbNail" alt="@Model.Title Picture" />
    </p>
</div>
<div class="thumbnail" align="left">
    <dl>
        <dt style="font-size:1.1em">
            @Html.DisplayNameFor(model => model.Title):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate):
        </dt>
        <dd>
            @Model.ReleaseDate.ToString("yyyy-mm-dd")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sypnosis):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sypnosis)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookTitleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
