@model SamsBookReviewLibary.Models.BookTitle

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookTitle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sypnosis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sypnosis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgThumbNail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgThumbNail)
        </dd>
    </dl>
</div>
<div>
    <p>
        <img src="@Model.ImgThumbNail" alt="@Model.Title Picture" />
    </p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookTitleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
